<nav class="navbar navbar-expand-lg navbar-light bg-light  sticky-top ">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="../../assets/images/logo.png" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food"
            aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbars-rs-food">
            <ul class="navbar-nav ml-auto">
                <a class=" btn-primary btn-sm" routerLink="/login">login</a>
            </ul>
        </div>
    </div>
</nav>
<div class="container w-25 form  text-center">
    <h3 style="color:#d5592a">Change Your Password</h3>
    <p *ngIf="flag" class="text-center text-success">password reset sucessfully login now</p>
    <form  class="mt-5"  [formGroup]="resetpassword" (ngSubmit)="onSubmit()">         
            <div class="form-group">
              <label for="exampleInputPassword1" class="font-weight-bold">New Password</label>
              <input type="password" formControlName="password" class="form-control"
                  [ngClass]="{'is-invalid':submitted && resetpassword.controls.password.errors}" id="exampleInputPassword1"
                  placeholder="Password">
              <div *ngIf="submitted && resetpassword.controls.password.errors">
                  <span *ngIf="resetpassword.controls.password.errors.required">
                      please provide password
                  </span>
                  <span *ngIf="resetpassword.controls.password.errors.minlength">
                      Please provide password of atleast 8 charactar
                  </span>
              </div>
          </div>


          <div class="form-group">
              <label for="exampleInputPassword1 " class="font-weight-bold">ConfirmPassword</label>
              <input type="password" formControlName="confirmpassword" class="form-control"
                  [ngClass]="{'is-invalid':submitted && resetpassword.controls.confirmpassword.errors}"
                  id="exampleInputPassword1" placeholder="Confirm Password">
              <div *ngIf="submitted && resetpassword.controls.confirmpassword.errors">
                  <span *ngIf="resetpassword.controls.confirmpassword.errors.required">
                      Please provide Confirm Password
                  </span>
              </div>
              <div *ngIf="submitted && resetpassword.controls.confirmpassword.value!=''">
                  <span *ngIf="resetpassword.controls.confirmpassword.value!=resetpassword.controls.password.value">
                      Please Provide same password as above
                  </span>
              </div>
          </div>
          
          <button type="submit" class="btn-sm btn-success">Change Password</button>
     </form>
        
   
 </div>
        

