<nav class="navbar navbar-expand-lg navbar-light bg-light  sticky-top ">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="../../assets/images/logo.png" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food"
            aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbars-rs-food">
            <ul class="navbar-nav ml-auto">
                <a class=" btn-primary btn-sm" routerLink="/signup">Signup</a>
            </ul>
        </div>
    </div>
</nav>
<div class="container w-25 form  text-center">
    <h1 style="color:#d5592a">Rest Your Password</h1>
    <form  *ngIf="!flag" [formGroup]="forgotpassword" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="exampleInputEmail1" class="font-weight-bold mt-5">Enter your user account's verified email address and we will send you a password reset link.</label>
            <input type="text" formControlName="email" class="form-control" placeholder="Email"
                [ngClass]="{'is-invalid':submitted && forgotpassword.controls.email.errors}" />
            <div *ngIf="submitted && forgotpassword.controls.email.errors">
                <span *ngIf="forgotpassword.controls.email.errors.required">
                    Email is required
                </span>
                <span *ngIf="forgotpassword.controls.email.errors.email">
                    Please provide valid email
                </span>
            </div>
        </div>
        <button type="submit" class="btn-sm btn-success">Send Password Reset Email</button><br>
      
    </form>
    <ng-container  *ngIf="flag">
        <div class="bg-light border border-dark mt-5">
        <p class="">Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.</p>
      <a class=" btn-sm btn-primary" routerLink="/login"> Return to Log in</a> 
      </div>
    </ng-container>
 
  
</div>
