<!-- Start Menu -->
    <div class="menu-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-title text-center">
                        <h2>Special Menu</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                    </div>
                </div>
            </div>
            
            <div class="row inner-menu-box">
                <div class="col-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">All</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Drinks</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Lunch</a>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Dinner</a>
                    </div>
                </div>
                
                <div class="col-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/drink1.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Wine</h4>
                                            <p>Price -:<span class="font-weight-bold text-danger"> 200 RS</span></p>
                                            <button class=" btn-primary btn-sm">Order</button>
                                         
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/dinner1.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Drinks 2</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $9.79</h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/lunch4.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Drinks 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $10.79</h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 special-grid lunch">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/dinner3.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Lunch 1</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $15.79</h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 special-grid lunch">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/drink7.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Lunch 2</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $18.79</h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 special-grid lunch">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/dinner9.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Lunch 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $20.79</h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 special-grid dinner">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/lunch14.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Dinner 1</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $25.79</h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 special-grid dinner">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/drink4.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Dinner 2</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $22.79</h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 special-grid dinner">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/dinner9.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Dinner 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $24.79</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/drink1.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Kari Juice</h4>
                                            <p>Price -: <span class="font-weight-bold text-danger">60 RS</span></p>
                                            <button class=" btn-primary btn-sm" (click)="order({foodNo:1,category:'juice',foodName:'Kari',price:60})">Order</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/drink2.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Apple Juice</h4>
                                            <p>Price -: <span class="font-weight-bold text-danger">70 RS</span></p>
                                            <button class=" btn-primary btn-sm" (click)="order({foodNo:2,category:'juice',foodName:'Apple',price:70})">Order</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/drink3.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Lemon Juice</h4>
                                            <p>Price -: <span class="font-weight-bold text-danger">30 RS</span></p>
                                            <button class=" btn-primary btn-sm" (click)="order({foodNo:3,category:'juice',foodName:'Lemaon',price:30})">Order</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/drink4.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Kanji Juice</h4>
                                            <p>Price -: <span class="font-weight-bold text-danger">70 RS</span></p>
                                            <button class=" btn-primary btn-sm" (click)="order({foodNo:4,category:'juice',foodName:'Kanji',price:70})">Order</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/drink5.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Orange Juice</h4>
                                            <p>Price -: <span class="font-weight-bold text-danger">50 RS</span></p>
                                            <button class=" btn-primary btn-sm" (click)="order({foodNo:5,category:'juice',foodName:'Orange',price:50})">Order</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/drink6.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Sweet Milk Juice</h4>
                                            <p>Price -: <span class="font-weight-bold text-danger">20 RS</span></p>
                                            <button class=" btn-primary btn-sm" (click)="order({foodNo:6,category:'juice',foodName:'Sweet Milk',price:20})">Order</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/drink7.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Pineapple Juice</h4>
                                            <p>Price -: <span class="font-weight-bold text-danger">15 RS</span></p>
                                            <button class=" btn-primary btn-sm" (click)="order({foodNo:7,category:'juice',foodName:'Pineapple',price:15})">Order</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/drink8.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Mango Juice</h4>
                                            <p>Price -: <span class="font-weight-bold text-danger">90 RS</span></p>
                                            <button class=" btn-primary btn-sm" (click)="order({foodNo:8,category:'juice',foodName:'Mango',price:90})">Order</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/drink9.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Pudina Juice</h4>
                                            <p>Price -: <span class="font-weight-bold text-danger">30 RS</span></p>
                                            <button class=" btn-primary btn-sm" (click)="order({foodNo:9,category:'juice',foodName:'Pudina',price:30})">Order</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/drink10.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Elachi Juice</h4>
                                            <p>Price -: <span class="font-weight-bold text-danger">30 RS</span></p>
                                            <button class=" btn-primary btn-sm" (click)="order({foodNo:10,category:'juice',foodName:'Elachi',price:30})">Order</button>
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/drink11.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Butter Milk </h4>
                                            <p>Price -: <span class="font-weight-bold text-danger">10 RS</span></p>
                                            <button class=" btn-primary btn-sm" (click)="order({foodNo:11,category:'juice',foodName:'Butter Milk',price:10})">Order</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/drink12.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Custored Juice</h4>
                                            <p>Price -: <span class="font-weight-bold text-danger">70 RS</span></p>
                                            <button class=" btn-primary btn-sm" (click)="order({foodNo:12,category:'juice',foodName:'Custored',price:70})">Order</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/drink13.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Masala Soda</h4>
                                            <p>Price -: <span class="font-weight-bold text-danger">15 RS</span></p>
                                            <button class=" btn-primary btn-sm" (click)="order({foodNo:13,category:'juice',foodName:'Masala Soda',price:15})">Order</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/drink14.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Milk</h4>
                                            <p>Price -: <span class="font-weight-bold text-danger">40 RS</span></p>
                                            <button class=" btn-primary btn-sm" (click)="order({foodNo:14,category:'juice',foodName:'Milk',price:40})">Order</button>
                                        </div>
                                    </div>
                                </div>
                                  <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/drink15.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Butter Milk</h4>
                                            <p>Price -: <span class="font-weight-bold text-danger">10 RS</span></p>
                                            <button class=" btn-primary btn-sm" (click)="order({foodNo:15,category:'juice',foodName:'Butter Milk',price:10})">Order</button>
                                        </div>
                                    </div>
                                </div>
                                  <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/drink16.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Cholate Milk</h4>
                                            <p>Price -: <span class="font-weight-bold text-danger">40 RS</span></p>
                                            <button class=" btn-primary btn-sm" (click)="order({foodNo:16,category:'juice',foodName:'Cholate Milk',price:40})">Order</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 special-grid lunch">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/lunch1.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Lunch 1</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $15.79</h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 special-grid lunch">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/lunch2.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Lunch 2</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $18.79</h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 special-grid lunch">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/lunch3.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Lunch 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $20.79</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid lunch">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/lunch4.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Lunch 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $20.79</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid lunch">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/lunch5.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Lunch 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $20.79</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid lunch">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/lunch6.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Lunch 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $20.79</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid lunch">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/lunch7.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Lunch 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $20.79</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid lunch">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/lunch8.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Lunch 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $20.79</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid lunch">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/lunch9.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Lunch 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $20.79</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid lunch">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/lunch10.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Lunch 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $20.79</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid lunch">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/lunch12.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Lunch 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $20.79</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid lunch">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/lunch13.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Lunch 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $20.79</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid lunch">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/lunch14.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Lunch 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $20.79</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid lunch">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/lunch15.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Lunch 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $20.79</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid lunch">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/lunch16.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Lunch 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $20.79</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 special-grid dinner">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/dinner1.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Dinner 1</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $25.79</h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 special-grid dinner">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/dinner2.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Dinner 2</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $22.79</h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-6 special-grid dinner">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/dinner3.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Dinner 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $24.79</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid dinner">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/dinner4.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Dinner 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $24.79</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid dinner">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/dinner5.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Dinner 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $24.79</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid dinner">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/dinner6.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Dinner 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $24.79</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid dinner">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/dinner7.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Dinner 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $24.79</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid dinner">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/dinner8.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Dinner 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $24.79</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid dinner">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/dinner9.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Dinner 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $24.79</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 special-grid dinner">
                                    <div class="gallery-single fix">
                                        <img src="../../assets/images/dinner10.jpeg" class="img-fluid" alt="Image">
                                        <div class="why-text">
                                            <h4>Special Dinner 3</h4>
                                            <p>Sed id magna vitae eros sagittis euismod.</p>
                                            <h5> $24.79</h5>
                                        </div>
                                    </div>
                                </div>
                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- End Menu -->
